
*{
margin: 10px;
}

.formulario{
    margin: 0 auto;
    padding: 10px;
    align-content: center;
    border-radius: 25px;
    border: 1px solid #666666;
}

.card{
    margin: 0 auto;
    padding: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 16px;
}

.card-body {
    text-align: center;
}

@media all and (min-width: 960px) {
}